<h1>Student Form</h1>
<%= form_tag students_path do %>
<label for='student[first_name]'> Stuent First Name:</label><br>
<%= text_field_tag :'first_name' %> <br>

<label>Student Last Name:</label><br>
<%= text_field_tag :'last_name' %><br>

<%= submit_tag "Submit Student" %>
<% end %>

<p></p>
<%= params.inspect %>
